*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
body,html{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#canvas{
	display: none;
}
#menu{
	position: absolute;
	z-index:3;
	background:#e0f0e9;
	left: 0;
	top: -400px;
	display:none;
	transition: 0.5s ease-out;
}
#menu li{
	width: 55px;
	height: 50px;			
	position: relative;
	cursor: pointer;
}
#menu li:nth-child(1){
	background: url(../img/pen.png) no-repeat 9px 9px;
}
#menu li:nth-child(1) span{
	background: #fff143;
}
#menu li:nth-child(2){
	background: url(../img/line.png) no-repeat 9px 9px;
}
#menu li:nth-child(2) span{
	background: #bce672;
}
#menu li:nth-child(3){
	background: url(../img/circle.png) no-repeat 9px 9px;
}
#menu li:nth-child(3) span{
	background: #fff143;
}
#menu li:nth-child(4){
	background: url(../img/rect.png) no-repeat 9px 9px;
}
#menu li:nth-child(4) span{
	background: #bce672;
}
#menu li:nth-child(5){
	background: url(../img/thick.png) no-repeat 9px 9px;
}
#menu li:nth-child(5) span{
	background: #fff143;
}
#menu li:nth-child(6){
	background: url(../img/see.png) no-repeat 9px 9px;
}
#menu li:nth-child(6) span{
	background: #bce672;
}
#menu li:nth-child(7){
	background: url(../img/eraser2.png) no-repeat 9px 9px;
}
#menu li:nth-child(7) span{
	background: #fff143;
}
#menu li:nth-child(8){
	background: url(../img/back.png) no-repeat 9px 9px;
}
#menu li:nth-child(8) span{
	background: #0eb83a;
}
#menu li:nth-child(9){
	background: url(../img/set.png) no-repeat 9px 9px;
}
#menu li:nth-child(9) span{
	background: #ff2121;
}
#menu li span{
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	height: 100%;
}
#sidebar{
	width: 230px;
	height: 100%;
	background: #808080;
	position: absolute;
	top: 0;
	right: -230px;
	transition: 0.5s ease-out;
}
.sidebar-draw{
	display: none;
}
.sidebar-draw h2{
	width: 100%;
	height:40px;
	font: bold 20px/40px "微软雅黑";
	color: #fff;
	text-align: center;
}
.sidebar-draw li{
	width: 100%;
	height: 60px;
	overflow: auto;
	border-bottom: 1px solid #000;
}
.sidebar-draw li:hover{

	background: #000;
}
.sidebar-draw li span{
	border-radius: 5px;
}
.sidebar-draw ul li:nth-child(1) span{
	display: block;
	width: 180px;
	height: 3px;
	margin: 28.5px auto 0;
	background: #fff;
}
.sidebar-draw ul li:nth-child(2) span{
	display: block;
	width: 180px;
	height: 6px;
	margin: 27px auto 0;
	background: #fff;
}
.sidebar-draw ul li:nth-child(3) span{
	display: block;
	width: 180px;
	height: 9px;
	margin: 25.5px auto 0;
	background: #fff;
}
.sidebar-draw ul li:nth-child(4) span{
	display: block;
	width: 180px;
	height: 12px;
	margin: 24px auto 0;
	background: #fff;
}
.sidebar-draw ul li:nth-child(5) span{
	display: block;
	width: 180px;
	height: 15px;
	margin: 22.5px auto 0;
	background: #fff;
}
.sidebar-draw ul li:nth-child(6) span{
	display: block;
	width: 180px;
	height: 18px;
	margin: 21px auto 0;
	background: #fff;
}
.sidebar-color{
	display: none;
}
.sidebar-color h2{
	width: 100%;
	height:40px;
	font: bold 20px/40px "微软雅黑";
	color: #fff;
	text-align: center;
}
.sidebar-color li{
	height: 30px;
	margin-bottom: 30px;
}
.sidebar-color li:hover{
	border: 2px solid #fff;
	box-sizing: border-box;
}
.first-screen{
	width: 100%;
	height: 100%;
	background: #1B1B1B;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.first-screen span{

	width: 100px;
	height: 100px;
	border-radius: 50%;
	position:absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
	background: #fff;
	overflow: hidden;
	animation: 1.5s 2.5s boost forwards;
}

.first-screen img{

	width: 100px;
	height: 100px;
	border-radius: 50%;
	animation: 2.5s dispear forwards;
}
@keyframes dispear{

	99%{
		opacity: 1;
	}
	100%{

		opacity: 0;
	}
}
@keyframes boost{

	100%{

		transform: scale(20,20);
	}
}