*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
body,html{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#canvas{
	display: none;
}
#menu{
	position: absolute;
	z-index:3;
	background:#000;
	left: 0;
	top: -400px;
	display:none;
	transition: 0.5s ease-out;
}
#menu li{
	width: 50px;
	height: 50px;	
	text-align: center;	
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
#menu li span{
	font-size: 24px;
	line-height: 50px;
	color: #fff;
}
#menu li:nth-child(1) span{
	font: 32px/50px "微软雅黑";
}
#menu li:nth-child(2) span{
	transform: rotate(90deg);
}
#menu li:nth-child(3) span{
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	border: 2px solid #fff;
	margin: 10px 0 0 10px;
}
#menu li:nth-child(4) span{
	display: block;
	width: 26px;
	height: 26px;
	border: 1px solid #fff;
	margin: 11px 0 0 11px;
}
#sidebar{
	width: 230px;
	height: 100%;
	background: #808080;
	position: absolute;
	top: 0;
	right: -230px;
	transition: 0.5s ease-out;
}
.sidebar-draw{
	display: none;
}
.sidebar-draw h2{
	width: 100%;
	height:40px;
	font: bold 20px/40px "微软雅黑";
	color: #fff;
	text-align: center;
}
.sidebar-draw li{
	width: 100%;
	height: 60px;
	overflow: auto;
	border-bottom: 1px solid #000;
}
.sidebar-draw li:hover{

	background: #000;
}
.sidebar-draw li span{
	border-radius: 5px;
}
.sidebar-draw ul li:nth-child(1) span{
	display: block;
	width: 180px;
	height: 3px;
	margin: 28.5px auto 0;
	background: #fff;
}
.sidebar-draw ul li:nth-child(2) span{
	display: block;
	width: 180px;
	height: 6px;
	margin: 27px auto 0;
	background: #fff;
}
.sidebar-draw ul li:nth-child(3) span{
	display: block;
	width: 180px;
	height: 9px;
	margin: 25.5px auto 0;
	background: #fff;
}
.sidebar-draw ul li:nth-child(4) span{
	display: block;
	width: 180px;
	height: 12px;
	margin: 24px auto 0;
	background: #fff;
}
.sidebar-draw ul li:nth-child(5) span{
	display: block;
	width: 180px;
	height: 15px;
	margin: 22.5px auto 0;
	background: #fff;
}
.sidebar-draw ul li:nth-child(6) span{
	display: block;
	width: 180px;
	height: 18px;
	margin: 21px auto 0;
	background: #fff;
}
.sidebar-color{
	display: none;
}
.sidebar-color h2{
	width: 100%;
	height:40px;
	font: bold 20px/40px "微软雅黑";
	color: #fff;
	text-align: center;
}
.sidebar-color li{
	height: 30px;
	margin-bottom: 30px;
}
.sidebar-color li:hover{
	border: 2px solid #fff;
	box-sizing: border-box;
}
.first-screen{
	width: 100%;
	height: 100%;
	background: #1B1B1B;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.first-screen span{

	width: 100px;
	height: 100px;
	border-radius: 50%;
	position:absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
	background: #fff;
	overflow: hidden;
	animation: 1.5s 2.5s boost forwards;
}

.first-screen img{

	width: 100px;
	height: 100px;
	border-radius: 50%;
	animation: 2.5s dispear forwards;
}
@keyframes dispear{

	99%{
		opacity: 1;
	}
	100%{

		opacity: 0;
	}
}
@keyframes boost{

	100%{

		transform: scale(20,20);
	}
}

.tip{
	width: 350px;
	height: 100px;
	border: 1px solid #333;
	position: absolute;
	left: 50%;
	margin-left: -175px;
	top: 0;
	z-index: 10;
	border-radius: 15px;
	text-align: center;
	display: none;
	background: #fff;
}
.tip .tip-main{
	margin-top: 30px;
}
.tip .glyphicon{
	width: 30px;
	height: 30px;
	border: 1px solid #333;
	font-size: 16px;
	line-height: 30px;
	border-radius: 50%;
	text-align: center;
	color: #333;
}
.tip .text{
	font: 16px/40px "微软雅黑";
}
.contextmenu{
	position: absolute;
	top: 0;
	left: 0; 
	z-index: 10;
	background: #000;
	border-radius: 10px;
	display: none;
}
.contextmenu li{
	width: 200px;
	height: 50px;
	font: 14px/50px "微软雅黑";
	color: #fff;
	text-indent: 2em;
	border-bottom: 1px dashed #f5f5f5;
	cursor: pointer;
}
.contextmenu li:first-child{
	color: #999;
	cursor: default;
}
.contextmenu li:last-child{
	border-bottom: none;
}